<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{! <title>Verify Your Email - FreshNest Laundry</title> }}
    <style>
      body { font-family: Arial, sans-serif; background-color: #f9f9f9; margin:
      0; padding: 0; color: #333; } .container { width: 100%; max-width: 600px;
      margin: 0 auto; background-color: #fff; border-radius: 8px; box-shadow: 0
      4px 8px rgba(0, 0, 0, 0.1); overflow: hidden; } .header {
      background-color: #36bbe3; padding: 20px; text-align: center; color: #fff;
      } .header h1 { margin: 0; font-size: 24px; color: #fff; } .content {
      padding: 20px; } .content h2 { font-size: 20px; color: #36bbe3; } .content
      p { line-height: 1.6; } .button { display: block; width: fit-content;
      background-color: #36bbe3; color: #fff; padding: 10px 20px; margin: 20px
      auto; text-decoration: none; border-radius: 5px; font-weight: bold; }
      .footer { text-align: center; padding: 10px; font-size: 12px; color: #777;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <h1>FreshNest Laundry</h1>
      </div>
      <div class='content'>
        <h2>Hi There!</h2>
        <p>
          Thank you for registering with FreshNest Laundry! To complete your
          registration, please verify your email by clicking the button below:
        </p>
        <a href={{link}} class='button'>Verify Your Email</a>
        <p>
          If you did not create an account with FreshNest Laundry, you can
          safely ignore this email. This link will expire in 2 hours.
        </p>
      </div>
      <div class='footer'>
        <p>&copy; {{year}} FreshNest Laundry. All Rights Reserved.</p>
      </div>
    </div>
  </body>
</html>